*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-body{
    background-image: url(./assets/background.jpg);
    height: 100vh;
    background-size: cover; 
}
.top{
    background-color: rgba(0, 0, 0, 0.3);
    color: #f8f9fa;
    text-align: center;
    padding: 48px;
    font-size: 28px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}
